@page
@model IndexModel
@{
    ViewData["Title"] = "Home page - Faizan test";
}

<div class="text-center">
    <h1 class="display-4">Welcome- faizan</h1>
    <p>Learn deployment from azure using automated deployment</a>.</p>
</div>
